# Dépendances
node_modules/

# Fichiers d'environnement
.env
.env.local
.env.*
!.env.example

# Dossiers de données
sessions/
scripts/
ssl/

# Logs
logs/
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build
dist/
build/

data/
